{% extends "base.html" %}

    {% block page_title %} Contact {% endblock %}

        {% block page_head %} Contact Us! {% endblock %}

        {% block page_content %}
            {# If statement to decide what to display on the page #}
            {% if form_submitted %}
                {# Shows content based on what the person answered #}
                <h2>Thank You for Contacting Us!</h2>
                    <br>

                <fieldset class="border p-3">

                    <p><strong> First Name: </strong>
                        {{request.form.get('firstname')}}</p>

                    <p><Strong>Last Name: </Strong>
                        {{request.form.get('lastname')}}</p>

                    <p><strong>Email: </strong>
                        {{request.form.get('email')}}</p>

                    <p><strong>Favorite Anime: </strong>
                        {{request.form.get('anime')}}</p>

                    <p><strong>Agree to be Contacted? : </strong>
                        {{ 'Yes' if request.form.get('agree_check') else 'No' }}</p><br>

                    <p><a href="{{ url_for('contact') }}">Complete Form Again</a></p>
                </fieldset>

            {% else %}
                {# Displays the form to be answered #}

                <h2>Please Input You Information to Contact Us</h2>
                    <br>

                <form class="row g-3" action="{{ url_for('contact')}}" method="post">
                    <fieldset class="border p-3 grey">
                      <div class="col-md-4">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"><br>
                      </div>
                      <div class="col-md-4">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="firstname" name="lastname"><br>
                      </div>
                      <div class="col-10">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="email"><br>
                      </div>
                      <div class="col-10">
                        <label for="anime" class="form-label">Favorite Anime</label>
                        <input type="text" class="form-control" id="anime" name="anime"><br>
                      </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="agree_check" name="agree_check">
                                <label class="form-check-label" for="agree_check">I agree to be contacted</label>
                            </div><br>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>

            {%  endif %}
        {% endblock %}
