{%  extends "base.html" %}

{% block page_title %} Favorite Courses {% endblock %}

    {% block page_head %} Hello {% endblock %}

    {% block page_content %}

        <h2>What Is Your Favorite Course?</h2>
            <br>


        <!-- Displays the favorite course arguments entered-->
        <div class="col-6">
            <fieldset class="border p-2">
                <p><strong>Name: </strong> Darien Ghee</p>
                <br>
                <p>You entered your favorite course as: </p>
                    {{'Favorite Subject: ' + request.args.get('subject')}} <br>
                    {{'Favorite Course: ' + request.args.get('course_number')}}
            </fieldset>
        </div>
    {% endblock %}